@import '/src/styles/base/breakpoints';

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        .cuadro {
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            animation: drop 2s forwards;
            background: linear-gradient(180deg, rgba(217, 204, 224, 1) 0%, rgba(189, 162, 203, 1) 100%);

        }


        .logo {
            position: absolute;
            opacity: 0;
            padding: 4%;
            top: 10px;
            left: 10px;
            color: white;
            animation: fadeIn 2s forwards;

            &-word {
                font-size: clamp(2.0rem, 7vw, 3.5rem);
            }
        }

        .p-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        .portfolio-name {

            opacity: 0;
            padding: 4%;
            color: white;
            font-size: clamp(4.0rem, 7vw, 3.5rem);
            animation: fadeIn 2s forwards;


        }

        .portfolio-title {

            opacity: 0;
            padding-left: 4%;
            color: #632584;
            animation: fadeIn 1s forwards;
            font-size: clamp(2.0rem, 7vw, 2.5rem);
            animation-delay: 0.5s;

        }
    }

    @keyframes fadeIn {

        to {
            opacity: 1;
        }
    }

    @keyframes drop {
        to {
            top: 0;
        }
    }


    // @include xs {
    //     background-color: white;
    // }

    // @include sm {
    //     background-color: green;
    // }

    // @include md {
    //     background-color: blue;
    // }

    // @include lg {
    //     background-color: yellow;
    // }

    // @include xl {
    //     background-color: purple;
    // }
}